<%- include('partials/header'); -%>

<form class="loginForm" autocomplete="off">
  <h2 class="Loginh2">Update profile</h2>
  
  <label for="firstname">First Name</label>
    <input type="text" name="firstname"  value="<%=user.firstName%>"  />

  <label for="lastname">Last Name</label>
    <input type="text" name="lastname" value="<%=user.lastName%>" />

  <label for="country-input">Country:</label>
    <input type="text"  id="input" name="country" class='countryInput' value="<%=user.country%>" >
    <div class="country error"></div>
    <ul class="list"> </ul>

  <label for="phone">Phone</label>
  <input type="text" name="phone" id="phoneInput" class='countryPhoneInput' value="<%=user.phone%>"   />
  <div class="phone error"></div>
  <ul class="phonelist"> </ul>

  <label for="language">Languages</label>
  <input type="text" name="language" id="languageInput" class='languageInput' value=""/>
  <div class="language error"></div>
  <ul class="languagelist"> </ul>

  <div class="updateSelectDiv">
    <div>
          <label for="teacher">Also a teacher</label>
   </div>
    <div class="updateSelecetDivOptions">
      <select  class='selectTecher' name="teacher">
        <% if (user.isTeacher=='YES') { %>
          <option class="optionTeacher">YES</option>
          <option class="optionTeacher">NO</option>
        <% } else { %>
        <option class="optionTeacher">NO</option>
        <option class="optionTeacher">YES</option>
        <% } %>
          
        </select>
</div>   
</div>

  <input type="submit" name="" class="loginBtn" id="" value="Update" style="margin-top: 60px;">  
  <input type="button" name="" class="cancelBtn" id="" value="Cancel" style="margin-top: 10px;" onclick="cancelFunc()"> 
 
</form>

<%- include('partials/footer'); -%>


<script>
const form = document.querySelector('form');
const countryError = document.querySelector('.country.error');
const phoneError = document.querySelector('.phone.error')
const countryInput = document.querySelector('.countryInput')
const countryPhoneInput= document.querySelector('.countryPhoneInput')
const languageInput= document.querySelector('.languageInput')

countryError.textContent = '';
phoneError.textContent = ''
;

countryInput.addEventListener('click',()=>{
  countryError.textContent = '';
  phoneError.textContent = '';
})

phoneError.addEventListener('click',()=>{
  phoneError.textContent = '';
  countryError.textContent = '';
})

let CountriesArray = [];
let CountriesPhonesArray = [];

fetch('countries.json')
  .then(response => response.json())
  .then(data => {
    const arr = data.countries;
    const input = document.getElementById("input");
    const phoneInput = document.getElementById("phoneInput");

    for (let data of arr){
      CountriesArray.push(data.name)
      CountriesPhonesArray.push(data.dial_code)
   }
      
      function displayNames(value) {
      input.value = value;
      removeElements();
    }

    function displayPhones(value) {
      phoneInput.value = value;
      removePhoneElements();
    }

    input.addEventListener("keyup", e => {
      removeElements();

      for (let i of arr) {
        if (i.name.toLowerCase().startsWith(input.value.toLowerCase()) && input.value !== "") {
          const listItem = document.createElement("li");
          listItem.classList.add("list-items");
          listItem.style.cursor = "pointer";
          listItem.addEventListener("click", () => displayNames(i.name));
          const word = "<b>" + i.name.substr(0, input.value.length) + "</b>" + i.name.substr(input.value.length);
          listItem.innerHTML = word;
          document.querySelector(".list").appendChild(listItem);
        }
      }
    });

    phoneInput.addEventListener("keyup", e => {
      removePhoneElements();

      for (let i of arr) {
        if (i.dial_code.toLowerCase().startsWith(phoneInput.value.toLowerCase()) && phoneInput.value !== "") {
          const listItemPhone = document.createElement("li");
          listItemPhone.classList.add("list-items-phones");
          listItemPhone.style.cursor = "pointer";
          listItemPhone.addEventListener("click", () => displayPhones(i.dial_code));
          const word = "<b>" + i.dial_code.substr(0, phoneInput.value.length) + "</b>" + i.dial_code.substr(phoneInput.value.length);
          listItemPhone.innerHTML = word;
          document.querySelector(".phonelist").appendChild(listItemPhone);
        }
      }
    });

    function removeElements() {
      const items = document.querySelectorAll('.list-items');
      items.forEach(item => item.remove());
    }

    function removePhoneElements() {
      const phoneInput = document.querySelectorAll('.list-items-phones');
      phoneInput.forEach(item => item.remove());
    }
  })
  .catch(error => console.error(error));

function cancelFunc() {
  location.assign('/profile');
}



form.addEventListener('submit', async function (event) {
  event.preventDefault();
  
  const firstName = form.firstname.value;
  const lastName = form.lastname.value;
  const country = form.country.value;
  const phone = form.phone.value;
  const isTeacher = form.teacher.value;
  const language = form.language.value;


  let isValidCountry = false;
      for (let item of CountriesArray) {
          if (CountriesArray.includes(country)) {
          isValidCountry = true;
          break;
         }
      }
        if (!isValidCountry) {
            countryError.textContent = 'wrong country';
          return ;
      }

      let isValidCountryPhone = false;
      const phoneReplaceValues = phone.replace(/[^0-9+]/g, '');
 
           for (let item of CountriesPhonesArray) {
              if (phoneReplaceValues.startsWith(item)) {
                isValidCountryPhone = true;
                break;
              }
            }
            
            if (!isValidCountryPhone || phoneReplaceValues.length < 12) {
              phoneError.textContent = 'wrong dial code';
             countryError.textContent = '';

              return;
            }



  try {
    const res = await fetch('/update', {
      
      method: 'PUT',
      body: JSON.stringify({ firstName, lastName, country, phone, isTeacher, language }),
      headers: { 'Content-Type': 'application/json' }
    });
    const data = await res.json();
    console.log('data', data);
    if (data.errors) {
      emailError.textContent = data.errors.email;
    }
    else {
      location.assign('/profile');
    }
  }
  catch (err) {
    console.log('error', err);
  }
});

</script>

